.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.catalog {
  padding: 60px 30px 60px 30px;
}

@media screen and (max-width: 374px) {
  .catalog {
    padding: 60px 20px 60px 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .catalog {
    padding: 84px 90px 124px 90px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog {
    padding: 84px 120px 124px 120px;
  }
}
