.btn {
  border-radius: 12px;
  padding: 12px 0;
  width: 276px;
  height: 44px;
  background-color: var(--button);
  color: var(--white);
  margin: 0 auto;
  text-align: center;
}

.btn:hover,
.btn:focus {
  background-color: var(--button-hover);
}
