.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.details {
  padding: 60px 30px 60px 30px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}

.first_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.img_wrapper {
  position: relative;
}

.image {
  width: 100%;
  min-width: 100%;
  border-radius: 14px;
}

@media screen and (min-width: 768px) {
  .details {
    padding: 84px 30px 104px 30px;
  }

  .image {
    width: 335px;
    height: auto;
  }

  .main {
    flex-direction: row;
    column-gap: 72px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .details {
    padding: 84px 120px 104px 120px;
  }

  .image {
    width: 640px;
  }
}
