.container {
  padding: 20px 0;
  background-color: var(--badges);
  width: 100%;
}

.wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  column-gap: 32px;
}

.link {
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.active {
  color: var(--button-hover);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 24px 0;
  }

  .wrapper {
    padding: 0 120px;
  }
}
