@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter_18pt-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/Manrope-Bold.ttf');
  font-weight: 700;
}

html {
  scrollbar-gutter: stable;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
}

:root {
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
  font-family: 'Manrope', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-weight: 700;
  color: var(--white);
}

h2 {
  color: var(--white);
}

p {
  font-weight: 500;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-weight: 500;
}

button {
  padding: 0;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
